{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
    <a href="{{url_for('home')}}"><-</a>
    <form method="get" action="/search">
        <input type="text" name="keyword" placeholder="Search something..." required/>
        <button type="submit">submit</button>
    </form>
    <div>
        {% if keyword %}
            {% if notes %}
                <p>Results for: {{keyword}}</p>
                {% for note in notes %}
                    <div>
                        <p><b>{{note.title}}</b></p>
                        <p>{{note.text}}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <p>Search notes</p>
        {% endif %}
    </div>
{% endblock %}